.h-wrapper {
  position: fixed;
  /* padding-top: 1.5rem; */
  left: 0;
  width: 100%;
  background: var(--primary);
  color: white;
  z-index: 1000; /* Make sure it stays on top of other elements */
  /* box-shadow: 0 2px 10px rgba(216, 210, 210, 0.1); Optional for nice shadow */
}

/* Transparent style when scrolling */
.h-wrapper.scrolled {
  background: rgba(111, 31, 142, 0.4); /* or use transparent or rgba(var(--primary)) */
  backdrop-filter: blur(8px); /* optional: adds blur effect */
  
}

.h-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: var(--secondary);
}

.h-menu {
  display: flex;
  gap: 3.5rem;
  border-bottom: 3px solid #DCA06D; /* Add this line */
  padding-bottom: 0.5rem; /* Optional: spacing between text and border */
}

.h-menu a {
  display: inline-block;
  color: var(--secondary);
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.h-menu a:hover {
  transform: scale(1.1);
  color: white;
}

.h-menu > *:hover {
  cursor: pointer;
}
 .menu-icon{
  display: none;
 }

 @media (max-width: 768px){
  .menu-icon{
    display: block;
  }
  .h-menu {
    z-index: 99;
  color: white;
  position: absolute;
  top: 3.2rem;
  right: 6.3rem;
  background: var(--orange-gradient);
  display: flex;              /* make sure it's flex */
  flex-direction: column;
  align-items: center;        /* center horizontally */
  justify-content: center;    /* center vertically */
  font-weight: 500;
  gap: 2rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  transition: all 400ms ease-in-out;
}

 }